__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
.env
.env.*
!.env.example

node_modules/
dist/
build/

# *.joblib (diizinkan agar model ML bisa naik ke Render)
*.pkl
*.sqlite3
*.db
*.log

.DS_Store
Thumbs.db
